lancedb
langchain
langgraph
tavily-python
polygon
langchain_community
langchain_google_genai
streamlit
langchain_pinecone
fastapi[all]
uvicorn
langchain_groq
docx2txt
pypdf
pdfplumber
pymupdf






-e .
